.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -146px;
    
    border-radius: 10px;
    transition: transform 58.2s ease-in-out;
    padding: 17pc 3pc 2pc 3pc;
    margin-bottom: 169px;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover;
  }
  .head{
    color:white;
  }
  form {
    display: flex;
    margin: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    width: 400px;
  }
  
 
  .btn{
    margin-top:10px;
  }
  .bgimg{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;

  }
  body{
    
    background-image: url("../images/ingre4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  button {
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 40px;
  }
  
  .limg {
    margin-top: 20px;
    width: 420px;
    height: 273px;
    border: black 2px solid;
    border-radius: 10px;

  }
  
  button.view-recipe {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  p{
    color:aliceblue;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .recipe-details {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
  }
  
  .recipe-details h3 {
    margin-top: 0;
  }
  
  .recipe-details p {
    margin-bottom: 10px;
  }
  
  .recipe-details ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .recipe-details li {
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    input {
      width: 100%;
    }
  
    .recipe-details {
      width: 100%;
    }
  }
  