<<<<<<< HEAD
.cont{
  
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  transition: transform 58.2s ease-in-out;
  padding: 1pc 2pc 0pc 0pc;
}

  
=======
.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
    
    border-radius: 10px;
    transition: transform 58.2s ease-in-out;
    padding: 17pc 3pc 2pc 3pc;
    margin-bottom: 169px;
  }

>>>>>>> c7f3f72cd05db9bbcf52c73bc37aa9c465b839ed
  .recipe-container:hover {
    transform: translateY(-5px);
  }
  .recipe-image{
    width:10px;
  }
  
  .recipe-input {
<<<<<<< HEAD
    width: 400px;
    height: 35px;
=======
    width: 300px;
    height: 40px;
>>>>>>> c7f3f72cd05db9bbcf52c73bc37aa9c465b839ed
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .recipe-button {
<<<<<<< HEAD
    background-color: rgb(39, 38, 38);
=======
    background-color: #ff6600;
>>>>>>> c7f3f72cd05db9bbcf52c73bc37aa9c465b839ed
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .recipe-button:hover {
<<<<<<< HEAD
    background-color: black;
  }
  
  .recipe-result {
    margin-top: 9px;
    max-width: 639px;
    width: 110%;
    background-color: none;
    border-radius: 18px;
    padding-left: 38px;
    padding-bottom: 20px;
    padding-top: 13px;
    text-align: center;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 24px;
  }
  .ingre{
    padding: 0px 13px 22px 40px;
    text-align: left;
    background-size: auto;
    color:black;
=======
    background-color: #d45d00;
  }
  
  .recipe-result {
    margin-top: 24px;
    max-width: 606px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    padding-left: 16px;
    padding-bottom: 17px;
    padding-top: 13px;
  }
  .ingre{
    padding: 0px 13px 22px 40px;
>>>>>>> c7f3f72cd05db9bbcf52c73bc37aa9c465b839ed
  }
  .topi{
    display: flex;
  }
  .recipe-result h2 {
<<<<<<< HEAD
    font-size: xx-large;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line:none;
    text-align: center;
  }
  
  .recipe-result img {
    
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    border-radius:15px;
  }
  
  .recipe-result h3 {
    font-size: x-large;
=======
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipe-result img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .recipe-result h3 {
    font-size: 20px;
>>>>>>> c7f3f72cd05db9bbcf52c73bc37aa9c465b839ed
    margin-bottom: 10px;
  }
  
  .recipe-result ul {
    margin-bottom: 20px;
    list-style:circle;
    padding-left: 0;
  }
  
  .recipe-result ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .recipe-instructions{
<<<<<<< HEAD
    font-family:  sans-serif;
    text-decoration-line:none;
    text-align: left;
    color: black;
    font-size: large;
=======
    font-family:Georgia, 'Times New Roman', Times, serif;
>>>>>>> c7f3f72cd05db9bbcf52c73bc37aa9c465b839ed
  }